/*
 Colores:
  background-color: linear(#34ADFF 20% - #FFBF75 100%)
*/

/*==========Variables==========*/
:root {
  --background-color: #707acf;
  --accentuate-color: #ffa43a;
  --navbar-color: #759eff;
  --text-color: #474a4e;
}

/*==========reset styles==========*/

html {
  font-family: "Quicksand", sans-serif;
  box-sizing: content-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h2 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}

/*==========utilities==========*/

.border {
  border: thin solid red;
}

/*==========site styles==========*/

body {
  max-width: 1440px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  background-color: var(--background-color);
}

.img-container {
  max-width: 450px;
}

main div {
  margin: 0 auto;
}

main .main-container {
  text-align: center;
  margin-top: 3rem;
}

main .main-container h2 {
  color: var(--text-color);
  font-size: 2.5rem;
}

main .main-container p {
  color: var(--accentuate-color);
  font-size: 1.5rem;
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--navbar-color);
  height: auto;
}

nav div {
  padding: 0.5rem 1rem;
}

nav div svg {
  margin-left: 1rem;
}

/*==========media Qeuerys==========*/

/*max-width mantiene activos los estilos cuando el tamaño de la pantalla permanece menor al indicado en el query, al pasar el tamaño especificado los estilos se desactivan*/

@media screen and (max-width: 380px) {
  main .main-container h2 {
    font-size: 1.5rem;
  }
}

/* min-width activa los estilos cuando la pantalla alcanza los 728px o mas, con medidas de pantalla menores a 728px los estilos especificados en el media query no surten efecto.*/

@media screen and (min-width: 728px) {
  main .main-container h2 {
    font-size: 3rem;
    text-align: center;
    padding-left: 1rem;
  }

  main .main-container p {
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .img-container {
    width: 40%;
    margin: 0;
  }

  main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10%;
  }

  .main-container {
    align-self: stretch;
    margin: 0;
    min-width: 690px;
  }

  main .main-container h2 {
    font-size: 4.5rem;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  main .main-container p {
    margin: 0;
    font-size: 3rem;
    text-align: left;
  }
}
