/*
 Colores:
  bacground-color: linear(#34ADFF 20% - #FFBF75 100%)
*/

/*==========Variables==========*/
:root {
  --background-color: #707acf;
  --accentuate-color: #ffa43a;
  --navbar-color: #759eff;
  --text-color: #474a4e;
}

/*==========reset styles==========*/

html {
  font-family: "Quicksand", sans-serif;
  box-sizing: content-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h2 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/*==========utilities==========*/
.border {
  border: thin solid red;
}

.none {
  display: none;
}

/*==========site styles==========*/

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1024px;
}

.nav {
  width: 100%;
  height: 35px;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav div {
  padding: 0 1rem;
}

.nav div svg {
  margin-left: 0.7rem;
}

/*==========media querys==========*/

@media screen and (min-width: 768px) {
  .links-container {
    display: block;
  }

  .links-container a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 2rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    height: 80px;
  }

  .nav .logo-container h2 {
    font-size: 2rem;
  }

  .nav div svg {
    width: 40px;
    height: 40px;
  }
}
